<div class="shop-item">
   
      <img src="<%= image_url %>">
      
        <h3 class="item-title"><%= name %></h3>
        <p class="item-description"><%= description %></p>
        <h3 class="item-price"><%=price %> kr</h3>
        <h3 class="item-stock"><%=current_stock %> st</h3>
        <i id="addToCartIcon" class="fa-solid fa-cart-plus"></i>
    
  </div>