<div class="shop-item-cart" id="<%= id %>">
   
    <img src="<%= image_url %>">
    
      <h3 class="item-title"><%= name %></h3>
      <h3 class="item-price"><%=price %> kr</h3>
      <h3 class="item-stock"><%=current_stock %> st</h3>
      <i id="removefromcart" class="fa-solid fa-circle-xmark"></i>
  
</div>